<h1>Add Vendor</h1>
<p>Add vendor here:</p>

<form action="/vendors" method="post">
<label for="vendorName">Vendor Name</label>
<input type="text" name="vendorName" id="vendorName">
<label for="vendorDescription">Vendor Description</label>
<input type="text" name="vendorDescription" id="vendorDescription">
<button type="submit">Add</button>
</form>

<p><a href="/">Back Home</a></p>
<p><a href="/vendors">Back to vendors.</a></p>