@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Welcome to Pierre's Bakery</h1>
</div>
<button><a href='/vendors/new'>Add a new Order</a></button>
<button><a href='/vendors/'>See the list of Orders</a></button>